@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply antialiased font-primary text-[16px] bg-bg text-primary;
  }

  .h1 {
    @apply text-[48px] font-semibold leading-[50px] tracking-[1px];
  }
  .h2 {
    @apply text-[43px] font-semibold leading-[48px] tracking-[1px];
  }
  .h3 {
    @apply text-[30px] font-medium leading-[36px] tracking-[1px];
  }
  .h4 {
    @apply text-[24px] font-medium leading-[32px] tracking-[1px];
  }
  p, .p {
    @apply text-[16px] font-light leading-[24px] tracking-[0.8px] text-justify;
  }

  button, .button, .tab {
    @apply text-[16px] font-medium leading-[24px] tracking-[0.8px];
  }

  button, .button {
    @apply hover:opacity-70 disabled:opacity-30;
  }

  .caption1 {
    @apply text-[14px] font-light leading-[20px] tracking-[0.5px];
  }
  .caption2 {
    @apply text-[10px] font-light leading-[22px] tracking-[0.2px];
  }

  a {
    @apply underline;
  }
}

@layer components {
  :root {
    --swiper-theme-color: #cccccc;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-inactive-color: #cccccc;
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-horizontal-gap: 6px;
  }

  @media (min-width: 640px) {
    :root {
      --swiper-pagination-bullet-horizontal-gap: 16px;
    }
  }
}
